# This file contains common pin mappings for Duet2 Eth/Wifi boards. To
# use this config, the firmware should be compiled for the SAM4E8E.

# See docs/Config_Reference.md for a description of parameters.

[gcode_macro Accept_CMD]
gcode:
    ACCEPT

[gcode_macro SAVE_CMD]
gcode:
    SAVE_CONFIG

[gcode_macro ABORT_CMD]
gcode:
    ABORT

[gcode_macro Calibrate_Probe]
gcode:
    PROBE_CALIBRATE
    
[gcode_macro Calibrate_Printer]
gcode:
    DELTA_CALIBRATE

[gcode_macro Calibrate_Printer_ManMode]
gcode:
   DELTA_CALIBRATE METHOD=manual

[gcode_macro Calibrate_Bed]
gcode:
    BED_MESH_CALIBRATE
    
[gcode_macro Load_Bedmesh]
gcode:
    BED_MESH_PROFILE LOAD=default

[virtual_sdcard]
path: ~/gcode_files

[pause_resume]

[display_status]

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### set park positon for x and y #####
    # default is your max posion from your printer.cfg
    {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
    {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
    ##### calculate save lift position #####
    {% set max_z = printer.toolhead.axis_maximum.z|float %}
    {% set act_z = printer.toolhead.position.z|float %}
    {% if act_z < (max_z - 2.0) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - act_z %}
    {% endif %}
    ##### end of definitions #####
    SAVE_GCODE_STATE NAME=PAUSE_state
    BASE_PAUSE
    G91
    G1 E-{E} F2100
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  
[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    ##### read E from pause macro #####
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}
    ##### end of definitions #####
    G91
    G1 E{E} F2100
    RESTORE_GCODE_STATE NAME=PAUSE_state
    BASE_RESUME


# This file is an example config file for rotary delta style printers.
# One may copy and edit this file to configure a new delta printer.

# ROTARY DELTA KINEMATICS ARE A WORK IN PROGRESS. Homing moves may
# timeout and some boundary checks are not implemented.

# See docs/Config_Reference.md for a description of parameters.

[stepper_a]
step_pin: PD6
dir_pin: PD11
enable_pin: !PC6
full_steps_per_rotation: 200
microsteps: 128
gear_ratio: 21.88125:1
endstop_pin: ^PC14
homing_speed: 20
upper_arm_length: 190.000
lower_arm_length: 393.00
angle: 270.00
position_endstop: 197.5

[tmc2660 stepper_a]
cs_pin: PD14
spi_bus: usart1
run_current: 1.000
sense_resistor: 0.051

[stepper_b]
step_pin: PD7
dir_pin: PD12
enable_pin: !PC6
full_steps_per_rotation: 200
microsteps: 128
gear_ratio: 21.88125:1
endstop_pin: ^PA2
homing_speed: 20
upper_arm_length: 190.000
lower_arm_length: 393.00
angle: 30.00
position_endstop: 197.5

[tmc2660 stepper_b]
cs_pin: PC9
spi_bus: usart1
run_current: 1.000
sense_resistor: 0.051

[stepper_c]
step_pin: PD8
dir_pin: !PD13
enable_pin: !PC6
full_steps_per_rotation: 200
microsteps: 128
gear_ratio: 21.88125:1
endstop_pin: ^PD29
homing_speed: 20
upper_arm_length: 190.000
lower_arm_length: 393.00
angle: 150.00
position_endstop: 197.2

[tmc2660 stepper_c]
cs_pin: PC10
spi_bus: usart1
run_current: 1.000
sense_resistor: 0.051

[extruder]
step_pin: PD5
dir_pin: !PA1
enable_pin: !PC6
full_steps_per_rotation: 400
microsteps: 32
rotation_distance: 7.646
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: !PA20
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC15
control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 300

[tmc2660 extruder]
cs_pin: PC17
spi_bus: usart1
run_current: 1.000
sense_resistor: 0.051

[heater_bed]
heater_pin: !PA19
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC13
#control: pid
#pid_Kp: 54.027
#pid_Ki: 0.770
#pid_Kd: 948.182
min_temp: 0
max_temp: 130

[mcu]
serial: /dev/serial/by-id/usb-Klipper_sam4e8e_0031375359544E573134303536303039-if00

[fan]
pin: PC23  # FAN0

[bltouch]
sensor_pin: ^PC16
control_pin: PA15
pin_move_time: 0.080
stow_on_each_sample: True
probe_with_touch_mode: False
pin_up_reports_not_triggered: True
pin_up_touch_mode_reports_triggered: True
x_offset: -20.7
y_offset: -3.8
z_offset: 3.521
speed: 25.0
samples: 6
sample_retract_dist: 10
samples_result: average
samples_tolerance: 0.050
samples_tolerance_retries: 2
lift_speed: 100

[bed_mesh]
speed: 120
horizontal_move_z: 10
mesh_min: -140,-140
mesh_max: 140,140
probe_count: 4,4
mesh_pps: 6,6
algorithm: bicubic
bicubic_tension: 0.2

[input_shaper]
shaper_freq_x: 25
shaper_freq_y: 25
shaper_type: ei

[printer]
kinematics: rotary_delta
max_velocity: 300
max_accel: 3000
max_z_velocity: 300
minimum_z_position: -5
shoulder_radius: 45
shoulder_height: 411.45


[delta_calibrate]
radius: 50
speed: 50
horizontal_move_z: 10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 56.922
#*# pid_ki = 2.259
#*# pid_kd = 358.609
#*#
#*# [extruder]
#*# pid_kp = 23.331
#*# pid_ki = 1.265
#*# pid_kd = 107.616
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.109155, -0.101273, -0.154432, -0.241082
#*# 	  0.324392, 0.165513, -0.041063, -0.269132
#*# 	  0.395090, 0.184716, 0.072583, -0.066008
#*# 	  0.429470, 0.280607, 0.194680, 0.038100
#*# tension = 0.2
#*# min_x = -140.01
#*# algo = bicubic
#*# y_count = 4
#*# mesh_y_pps = 6
#*# min_y = -140.0
#*# x_count = 4
#*# max_y = 139.99
#*# mesh_x_pps = 6
#*# max_x = 139.99
